.zab-header-text {
	color: #000;
	display: block;
	margin-top: -45px;
	padding: 45px 0 80px 0;
}

#header-link:hover {
	text-decoration: none;
}

.notification {
	float: right;
	clear: both;
}

.notification-red {
	float: right;
	clear: both;
}

.glyphicon-lg {
	font-size: 1.4em;
}

.notification > a {
	color: #3a87ad;
	background: #D9EDF7;
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #bce8f1;
}

.notification-red > a {
	color: #C26542;
	background: #F2DEDE;
	border-radius: 5px;
	padding: 10px;
	display: block;
	margin-bottom: 5px;
	border: 1px solid #EBCCD1;
}


a.cursor:hover {
	cursor: pointer;
}

.bold {
    font-weight: 700;
}

#profile_hours {
    margin-top: 15px;
}


#profile_hours .total_cell {
    border-left: 1px solid #000;
}
#profile_hours .total_row {
    border-top: 1px solid #000;
}

.zab-header-text h1 {
	margin: 0 0 15px 0;
	font-weight: 600;
}

.zab-header-text span {
	margin: 0 0 0 40px;
	font-size: 1.4em;
	font-style: italic;
	color: #ddd;
}

.footertext {
	font-size: 0.8em;
	color: #555;
}

.footertext span {
	font-size: 1.4em;
	color: #000;
}

#tP {
	font-size: 1em;
}

.panel-heading h3, h4 {
	margin: 0;
}

.panel-heading span {
	font-size: 0.9em;
	font-style: italic;
}

.panel-body h5 {
	font-size: 1.3em;
	font-style: italic;
	border-bottom: 1px solid #ddd;
}

#map_container {
	padding: 0;
}

#map_container span {
	display: block;
	padding: 15px;
}

.eventtimes {
	font-size: 1.5em;
	font-style: italic;
}

.panel span.alone {
	padding: 5px;
	display: block;
	text-align: center;
	font-style: italic;

}

a.nohover:hover {
	text-decoration: none;
}

#oi_icon.fa-check {
	color: #00a000;
}

#oi_icon.fa-times {
	color: #800000;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tfoot tr th,
.table-borderless tfoot tr td {
    border: none;
}